body {
background: coral!important;
}

h1 {
background: black;
font-family: Verdana, Arial;
font-size: 3;
font-style: italic;
font-weight: bold;
color: yellow;
}

h2 {
color: green;
}

p {
background: gray;
font-weight: bold;
font-stretch: ultra-condensed;
/*border-color: red;
border-style: dotted;
border-width: 5px; */
border: double red 5px;
border-radius: 10px;

}

div {
font-stretch: expanded;
}